{
    "$schema": "http://opencode.ai/config.json",
    "theme": "tokyonight",
    "share": "manual",
    "autoupdate": true,
    "disabled_providers": ["openai"],
    "plugin": ["superpowers@git+https://github.com/obra/superpowers.git"],
    "provider": {
        "amazon-bedrock": {
            "models": {
                "anthropic-claude-sonnet-4.6": {
                    "id": "arn:aws:bedrock:us-east-1:758497319431:inference-profile/global.anthropic.claude-sonnet-4-6"
                }
            },
            "options": {
                "region": "us-east-1",
                "profile": "mediaos-dev-aidev"
            }
        },
        "google": {
            "options": {
                "projectId": "gen-lang-client-0222096719"
            }
        }
    },
    "permission": {
        "edit": "ask",
        "bash": "ask"
    },
    "mcp": {
{{- if eq .chezmoi.hostname "adder" }}
        "linear": {
            "type": "local",
            "command": [
                "npx",
                "-y",
                "mcp-remote",
                "https://mcp.linear.app/mcp"
            ]
        },
{{- end }}
        "chrome-devtools": {
            "type": "local",
            "command": [
                "npx",
                "-y",
                "chrome-devtools-mcp@latest",
                "--browserUrl",
                "http://localhost:12345"
            ]
        },
{{- if eq .chezmoi.hostname "HMILSQ-6T9DLHG6" }}
        "jira": {
            "type": "remote",
            "url": "https://mcp.atlassian.com/v1/mcp",
            "enabled": true
        },
        "bigquery": {
            "type": "local",
            "command": ["toolbox", "--prebuilt", "bigquery", "--stdio"],
            "environment": {
                "BIGQUERY_PROJECT": "hdm-mediaos-fastly-logs"
            }
        },
        "sentry": {
            "type": "local",
            "command": [
                "npx",
                "mcp-remote@latest",
                "https://mcp.sentry.dev/mcp"
            ]
        },
{{- end }}
        "context7": {
            "type": "local",
            "command": [
                "npx",
                "-y",
                "@upstash/context7-mcp",
                "--api-key",
                "{{ .context7_api_key }}"
            ],
            "enabled": true
        }
    }
}
