[user]
	name = cmac4603
	email = 12590206+cmac4603@users.noreply.github.com
{{- if eq .chezmoi.hostname "HMILSQ-6T9DLHG6" }}
	signingkey = B2DCFB0E0C151F82
{{- else }}
	signingkey = C9E3035BCEA0A1F8
{{- end }}

[commit]
	gpgsign = true
{{- if eq .chezmoi.hostname "HMILSQ-6T9DLHG6" }}
	template = /Users/cmacrae/.gitcommitmsg.txt
{{- end }}
	verbose = true

[push]
	autoSetupRemote = true
	default = upstream

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true
	line-numbers = true

[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

[merge]
	conflictStyle = zdiff3

[init]
	defaultBranch = main

[pull]
	rebase = true

[fetch]
	prune = true

[rerere]
	enabled = true
